<!DOCTYPE html>
<html lang="zh" ng-app="app" ng-controller="main">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>猎人金服房屋查询辅助</title>
  <link rel="stylesheet" href="https://cache.amap.com/lbs/static/main.css"/>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/lianjia.css">
  <link rel="stylesheet" href="css/deal.css">

  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=PflxGsKENQwVZP5APoXmCq1Nkni0OwzC"></script>
  <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=43820c717ba7d269aafcd9898a5800a7"></script> 
  <script type="text/javascript" src="https://webapi.amap.com/demos/js/liteToolbar.js"></script>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="javascript:;">猎人金服房屋查询辅助</a>
      </div>
  
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" ng-bind="mapZone?'地图模块':'小区查询'"> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="javascript:;" ng-click="switch('panel','mapPanel')">地图模块</a></li>
              <li><a href="javascript:;" ng-click="switch('panel','districtPanel')">小区查询</a></li>
              <li><a href="javascript:;">敬请期待</a></li>
            </ul>
          </li>
        </ul>
        <form class="col-md-5 search" role="search">
          <div class="form-group col-md-10">
            <input type="text" class="form-control " placeholder="请输入需要查询的房屋地址" ng-model="key">
          </div>
          <div class="form-group col-md-2">
            <button type="button" class="btn btn-default" ng-disabled="!key" ng-click="searchPoint()">搜索</button>
          </div>
        </form>
        
        <div ng-class="{'hidden':!mapZone}" class="col-md-12">
          <div class="col-md-2 btn-group ">
            <a href="javascript:;" ng-click="switch('map','amap')" ng-class="{'btn-success':isShowAmap,'btn-default':!isShowAmap}" class="btn btn-success">高德</a>
            <a href="javascript:;" ng-click="switch('map','bmap')" ng-class="{'btn-success':!isShowAmap,'btn-default':isShowAmap}" class="btn btn-default">百度</a>
          </div>
          <div class="col-md-4">
            <p>上面切换显示模块，左侧切换显示地图（绿色表示选中状态）</p>
          </div>
          <div class="col-md-12 mpaContainer clearPadding">
            <div id="gaode" ng-class="{'hidden':!isShowAmap}" class="ditu  col-md-6"></div>
            <div id="baidu" ng-class="{'hidden':isShowAmap}" class="ditu  col-md-6"></div>
            <div class="col-md-6">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title">地图交互</h3>
                  </div>
                  <div class="panel-body">
                      <blockquote class="blockquote">
                        <p>点击地图上的某一楼盘，即可根据服务器返回信息获取小区名称，此项功能经内测能达到相对较准确的程度，不过仍不能保证百分百准确，使用时请务必请加以判断</p>
                      </blockquote>
                      <blockquote class="blockquote">
                        <p>
                          <span>小区名称:</span><span ng-bind="loading?'(加载中...)':'(加载完成)'"></span> <input class="form-control" ng-model="mapDistrict" placeholder="请先在地图上选择,选择结果可以直接在此处更改">
                        </p>
                        <p>
                          <span>详细地址:</span> <span ng-bind="detailAddress"></span>
                        </p>
                        <p>
                          <button class="btn btn-success" ng-disabled="!mapDistrict || mapDistrict == '没有获取到有效的小区信息'" ng-click="searchDistrict(mapDistrict)">查询</button>
                        </p>
                      </blockquote>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div ng-class="{'hidden':mapZone}" class="col-md-12">
            <form class="col-md-5 search" role="search">
                <div class="form-group col-md-10">
                  <input type="text" class="form-control " placeholder="请输入需要查询的小区名称" ng-model="district">
                </div>
                <div class="form-group col-md-2">
                  <button type="button" class="btn btn-default" ng-click="searchDistrict()">搜索</button>
                </div>
              </form>
              <div class="col-md-12">
                  <h4>以下将展示<span ng-bind="districtName"></span>小区成交信息</h4>
                  <div class="content">
                    <div class="leftContent">
                      <ul class="listContent" log-mod="list" ng-bind-html="districtSaleInfo | to_trusted">
                      </ul>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <h4>以下将展示<span ng-bind="districtName"></span>小区成交均价</h4>
                  <ul class="listContent" log-mod="list" ng-bind-html="districtInfo | to_trusted">

                  </ul>
                  <div class="clearfix"></div>
                  <h4>以下将展示查询出的小区经纪人信息</h4>
                  <div class="brokerList" id="brokerList" log-mod="xiaoqu_detail_diamond-many">
                    <ul ng-bind-html=""></ul>
                  </div>
              </div>
        </div>
      </div>
    </div>
  </nav>
  <div ng-class="{'show':show, 'hidden': !show}" class="alert alert-dismissible alert-success">
    <strong>查询成功!</strong> 请选择下面的搜索结果建议或者自己手动输入小区名称</a>.
  </div>
</body>
<script type="text/javascript" src="JavaScript/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="JavaScript/bootstrap.min.js"></script>
<script type="text/javascript" src="angularJS/angular.min.js"></script>

<script src="angularJS/app.config.js"></script>
<script src="angularJS/maincontroller.js"></script>

</html>