.search{
    padding-top: 10px;
}
.ditu{
    height: 600px;
    padding: 10px;
    box-sizing: border-box;
}
.show{
    
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    text-align: center;
    margin-left: -25%;
}
.table tr{
    cursor: pointer;
}
.table td,.table th{
    text-align: center;
}